* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	overflow: hidden;
}

canvas {
	display: block;
	position: fixed;
	margin: auto;
	left: 50%;
	transform: translateX(-50%);
}

#snake {
	z-index: 1;
}
